﻿@{
    ViewData["Title"] = "NoAccess";
    Layout = null;
}

<div class="row">
    <h2>You don't have access</h2>
</div>
<p>We are sorry but the information you requested cannot be given to you.</p>
<p>For more information please contact our administrator at admin@paysharp.com with information about how to register.</p>

<div>
    <a class="btn btn-sm" asp-action="Login" asp-controller="Identity">Login</a>
</div>