﻿@{
    ViewData["Title"] = "servererror";
    Layout = null;

}
<div class="row">
    <h2>Opps...Something went wrong</h2>
</div>
<p>Disabling javascript scripts may be the cause of this error. Please enable them and try again.</p>
