﻿@model PaySharp.Web.ViewModels.BannerViewModel
@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login &mdash; Pay#</title>

    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" href="css/styles.css?v=1.0.3">
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <!-- PAGE WRAPPER -->
    <div class="page">

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page__content" id="page-content">

            <!-- PAGE LOGIN CONTAINER -->
            <div class="important-container login-container">
                <div class="content">

                    <a href="/" class="logo-holder logo-holder--lg logo-holder--wide">
                        <div class="logo-text"><strong class="text-primary">Pay #</strong></div>
                    </a>
                    <p class="caption text-center margin-bottom-30">Welcome to the number one paying portal</p>
                    <span id="target-banner-form">
                        @await Html.PartialAsync("_LoginUserPartial", new LoginViewModel())
                    </span>

                    <div class="divider"></div>
                    <div class="content margin-top-60" id="content">
                        <a href="@Model.Url" class="link-wrapper" target="_blank" data-lightbox="image-1">
                            <img class="card-img-bottom" src="~/banners/@Model.ImgPath" alt="Card image cap">
                        </a>
                    </div>
                </div>

            </div>

            <!-- PAGE LOGIN CONTAINER -->
            <!-- PAGE CONTENT CONTAINER -->

            <div class="content margin-top-80"   id="content">
                <a href="@Model.Url" class="link-wrapper" target="_blank" data-lightbox="image-1">
                    <img class="card-img-bottom" src="~/banners/@Model.ImgPath" alt="Card image cap">
                </a>
            </div>

            <!-- //END PAGE CONTENT CONTAINER -->

        </div>
        <!-- //END PAGE CONTENT -->

    </div>
    <!-- //END PAGE WRAPPER -->


    <script src="~/js/vendors/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/jquery/jquery-migrate.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/bootstrap/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>

</body>
</html>


