﻿@model PaySharp.Web.ViewModels.PaginationTransactionsViewModel

    <div class="form-group row">
        <div class="col-sm-4">
            <a asp-area="User" asp-controller="Transaction" asp-action="MakePayment"
                class="btn btn-danger btn-lg">Make Payment</a>
        </div>
        <label class="col-sm-2 col-form-label text-lg-left"><h3>Select User Account:</h3></label>
        <div class="col-sm-6">
            <select id="transactions-account-selector" class="form-control" asp-for="PreSelectedAccount">
                @if (Model.PreSelectedAccount == null)
                {
                    <option value="" selected disabled hidden>
                        All Accounts

                    </option>

                }
                else
                {
                    <option value="" selected disabled hidden>
                        @Model.PreSelectedAccount.AccountNumber - @Model.PreSelectedAccount.ClientName -
                        @Model.PreSelectedAccount.NickName  - $@Model.PreSelectedAccount.Balance
                    </option>
                }

                <option value="DEFAULT">All Accounts</option>
                @foreach (var account in Model.UserAccounts)
                {
                    <option bal="@account.Balance" accid="@account.Id" value="@account.Id">
                        @account.AccountNumber - @account.ClientName - @account.NickName  - $@account.Balance
                    </option>
                    <span asp-validation-for="PreSelectedAccount" class="text-danger"></span>
                }
            </select>
        </div>

    </div>
<div class="card margin-bottom-0">
    <div class="card-body">
        <h4>Transactions</h4>
        <p class="subtitle margin-bottom-20">All Transactions</p>
        <div class="table-responsive">
            @if (Model.Count == 0)
            {
                <p>No transactions</p>
            }
            else
            {
                <table id="table-all-accounts" class="table table-bordered margin-bottom-0">
                    <thead class="thead-dark">
                        <tr>

                            <th scope="col">Sender Account</th>
                            <th scope="col">Sender Client</th>
                            <th scope="col">Reciever Account</th>
                            <th scope="col">Reciever Client</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Send</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Type Transaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model.Data)
                        {
                            
                        <tr>
                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@transaction.SenderAccount.AccountNumber</strong>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@transaction.SenderAccount.ClientName</strong>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@transaction.ReceiverAccount.AccountNumber</strong>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@transaction.ReceiverAccount.ClientName</strong>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@transaction.Description</strong>
                                    </div>
                                </div>
                            </td>
                            @if (transaction.IsSend)
                            {
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>-$@transaction.Amount</strong>
                                        </div>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>$@transaction.Amount</strong>
                                        </div>
                                    </div>
                                </td>
                            }
                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@transaction.TimeStamp</strong>
                                    </div>
                                </div>
                            </td>
                            @if (@transaction.Status == "Sent")
                            {
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name badge badge-success">
                                            <strong>@transaction.Status</strong>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <form id="send-transaction" asp-area="User" asp-controller="Transaction" asp-action="SendTransaction" method="post">
                                        <input type="hidden" name="id" value="@transaction" />
                                        <input type="button" class="btn btn-light btn-sm disabled" name="upvote" value="Send Transaction" />
                                    </form>
                                </td>
                                <td>
                                    <form id="send-transaction" asp-area="User" asp-controller="Transaction" asp-action="EditTransaction" method="post">
                                        <input type="hidden" name="id" value="@transaction" />
                                        <input type="button" class="btn btn-light btn-sm disabled" name="upvote" value="Edit Transaction" />
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name badge badge-danger">
                                            <strong>@transaction.Status</strong>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <form id="send-transaction-from-list" asp-area="User" asp-controller="Transaction" asp-action="SendSavedTransactions" method="post">
                                        @if (Model.PreSelectedAccount != null)
                                        {
                                            <input type="hidden" id="accountIdTest" name="accountIdTest" value="@Model.PreSelectedAccount.Id" />
                                        }
                                        else
                                        {
                                            <input type="hidden" id="accountIdTest" name="accountIdTest" value="Default" />
                                        }
                                        <input type="hidden" name="transactionId" value="@transaction.Id" />
                                        <input type="submit" class="btn btn-outline-success  btn-sm" name="upvote" data-accountId="@Model.PreSelectedAccount?.Id" value="Send Transaction" />
                                    </form>
                                </td>
                                <td>
                                    <div class="modal-edit-payment" data-id="@transaction.Id" data-sender="@transaction.SenderAccount.AccountNumber"
                                         data-receiver="@transaction.ReceiverAccount.AccountNumber" data-description="@transaction.Description"
                                         data-amount="@transaction.Amount" data-preselected="@Model.PreSelectedAccount?.Id">
                                        <div>
                                            <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#formEditPaymentModal">Edit Transaction</button>
                                        </div>
                                    </div>
                                </td>

                            }
                            @if (transaction.IsSend == true && transaction.IsRecieved == false)
                            {

                                <td bgcolor="#4b134f">
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <font color="white"><strong>Outgoing</strong></font>
                                        </div>
                                    </div>
                                </td>
                            }
                            else if (transaction.IsSend == false && transaction.IsRecieved == true)
                            {
                                <td bgcolor="#c94b4b">
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <font color="white"><strong>Incoming</strong></font>
                                        </div>
                                    </div>
                                </td>
                            }


                        </tr>
                        }
                    </tbody>
       
    </table>

}
<div>
    <ul class="pagination">
       
        @if (Model.PrevPage < 1)
        {
            <li class="page-item disabled">
                <div  data-currentpage="@Model.PrevPage">
                    <a asp-area="User" asp-controller="Transaction" asp-action="List"
                       asp-route-currentpage="@Model.PrevPage" class="page-link">Prev</a>
                </div>
            </li>
        }
        else
        {
            <li class="page-item ">
                <div data-currentpage="@Model.PrevPage">
                    <a  id="paging-transaction-prev" asp-area="User" asp-controller="Transaction" 
                       asp-action="GetTransactions" 
                       asp-route-currentpage="@Model.PrevPage"  asp-route-accountid="@Model.PreSelectedAccount?.Id"
                       class="page-link" >Prev</a>
                </div>
            </li>
        }

        <li class="page-item active">
            <div  id="paging-transaction-current" data-currentpage="@Model.CurrentPage">
                <a  class="page-link">@Model.CurrentPage</a>
            </div>
        </li>
        @if (Model.CurrentPage < Model.TotalPages)
        {
            
            <li class="page-item">
                <div  data-currentpage="@Model.TotalPages">
                    <a id="paging-transaction-last" asp-area="User" asp-controller="Transaction" asp-action="GetTransactions" 
                       asp-route-currentpage="@Model.TotalPages" asp-route-accountid="@Model.PreSelectedAccount?.Id"
                       class="page-link"   disabled>Last:@Model.TotalPages</a>
                     
                </div>
            </li>
        }
        @if (Model.NextPage > Model.TotalPages)
        {
            <li class="page-item disabled">
                <div class="" data-currentpage="@Model.NextPage">
                    <a asp-area="User" asp-controller="Transaction" asp-action="List" asp-route-currentpage="@Model.NextPage" class="page-link" disabled>Next</a>
                </div>
            </li>
        }
        else
        {
            <li class="page-item ">
                <div  data-currentpage="@Model.NextPage">
                    <a id="paging-transaction-next" asp-area="User" asp-controller="Transaction" 
                       asp-action="GetTransactions" asp-route-currentpage="@Model.NextPage"
                        asp-route-accountid="@Model.PreSelectedAccount?.Id" class="page-link">Next</a>
                </div>
            </li>
        }



    </ul>
                </div>
            </div>
        </div>
    </div>



<div class="modal fade" id="formEditPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <span id="target-make-payment">
                @await Html.PartialAsync("Transactions/_EditTransactionPartial", new TransactionViewModel())
            </span>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>