﻿@model TransactionViewModel
<div class="modal-body">

    <form id="edit-payment-form" asp-area="User" asp-controller="Transaction" asp-action="EditTransaction" method="post">
        <div class="card">
            <div class="page-heading">
                <div class="page-heading__container">
                    <h1 class="title">Transaction Template</h1>
                    <p class="caption">EDIT PAYMENT</p>
                </div>
               
            </div>
            <div class="card-body">

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="@Model.SenderAccount">From account</label>
                                <input asp-for="@Model.SenderAccount.AccountNumber" type="text" id="senderAccount" class="form-control" readonly="readonly">
                                <span asp-validation-for="@Model.SenderAccount.AccountNumber" class="text-danger"></span>
                                <span id="clientNameSender"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <label for="auto" class="input-item-label">Receiver Account</label>
                            <input asp-for="@Model.ReceiverAccount.AccountNumber" id="input-for-receiver-account" class="form-control" type="text">
                            <span id="message-autocomplete" class="text-danger"></span>
                        </div>
                        <div id="receiver-client-name-div" class=""></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="@Model.Description">Description</label>
                            <input asp-for="@Model.Description" id="descriptionTran" type="text" class="form-control">
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="@Model.Amount">Amount</label>
                            <input asp-for="@Model.Amount" id="transaction-amount" type="text" placeholder="0.00" class="form-control">
                            <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label></label>
                            <input asp-for="@Model.Id" id="transaction-id" type="hidden" placeholder="0.00" class="form-control">
                            <span asp-validation-for="@Model.Id" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="submit" id="edit-transaction" class="btn btn-secondary btn-block">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input id="account-pre-id" type="hidden" placeholder="0.00" class="form-control">
                    </div>
                </div>
            </div>
        </div>


    </form>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}