﻿@model TransactionViewModel
<div class="modal-body">

    <form id="create-payment-form" asp-controller="Transaction" asp-action="Send" method="post">
        <div class="card">
            <div class="page-heading">
                <div class="page-heading__container">
                    <h1 class="title">Transaction Template</h1>
                    <p class="caption">MAKE NEW PAYMENT</p>
                </div>
            </div>
            <div class="card-body">

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="@Model.SenderAccount">From account</label>
                                <input asp-for="@Model.SenderAccount.AccountNumber" type="text" id="senderAccount" class="form-control">
                                <span asp-validation-for="@Model.SenderAccount.AccountNumber" class="text-danger"></span>
                                <span id="clientNameSender"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        
                        <div class="form-group">
                            <label for="auto" class="input-item-label">Receiver Account</label>
                            <input asp-for="@Model.ReceiverAccount.AccountNumber" id="input-for-receiver-account" class="form-control" type="text">
                            <span id="message-autocomplete" ></span>
                        </div>
                        <div id="receiver-client-name-div" class=""></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="@Model.Description">Description</label>
                            <input asp-for="@Model.Description" type="text" placeholder="Must be up to 35 characters" class="form-control">
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="@Model.Amount">Amount</label>
                            <input asp-for="@Model.Amount" id ="transaction-amount" type="text" placeholder="0.00" class="form-control">
                            <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="submit"  id="send-transaction" class="btn btn-success btn-block">Send</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="submit" id="safe-transaction" class="btn btn-danger btn-block">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}