﻿@model TransactionViewModel

<form id="send-transaction" asp-area="User" asp-controller="Transaction" asp-action="SendTransaction" method="post">
    @*<input type="hidden" name="id" value="@transaction" />*@
    <input type="submit" class="btn btn-outline-success  btn-sm" name="upvote" value="Send Transaction" />
    <div class="form-group margin-bottom-20">
            <label asp-for="ReceiverAccountID"></label>
            <input asp-for="ReceiverAccountID" type="text" value="@Model.ReceiverAccountID" class="form-control">
            <span asp-validation-for="ReceiverAccountID" class="text-danger"></span>
        </div>
</form>
