﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PaySharp.Web.ViewModels.ClientViewModel

    <div class="card">

        <div class="card-body">
            <h4 id="rw-fl-fvlength">Create Client</h4>

            <form id="create-client-form" asp-controller="Client" asp-action="CreateClient" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                

                <div class="form-group margin-top-20 margin-bottom-0">
                    <button class="btn btn-light" type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>
   
