﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PaySharp.Web.Areas.Administration.ViewModels.PaginationClientViewModel

<div class="card margin-bottom-0">
    <div class="card-body">
        <h4>Clients</h4>
     
        <div class="table-responsive">
            <table id="table-all-clients" class="table margin-bottom-0">
                <thead>
                    <tr>

                        <th width="200" scope="col">Name</th>

                    </tr>
                </thead>
                @foreach (var client in Model.Clients)
                {


                    <tbody>

                        <tr>

                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@client.Name</strong>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <form class="create-account-client-test" asp-area="Administration" asp-controller="Account" asp-action="Create" method="post">
                                    <input type="hidden" name="id" value="@client.Id" />
                                    <input type="submit" class="btn btn-light btn-sm" name="upvote" value="Create Account" />
                                </form>
                            </td>
                            <td>
                                <form asp-area="Administration" asp-controller="Client" asp-action="ClientDetails" asp-route-id="@client.Id" method="get">
                                    <input type="submit" class="btn btn-light btn-sm" value="Details">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <div>
                <ul class="pagination">
                    @if (Model.PrevPage < 1)
                    {
                        <li class="page-item disabled">
                            <div data-currentpage="@Model.PrevPage">
                                <a class="page-link">Prev</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <div data-currentpage="@Model.PrevPage">
                                <a id="paging-clients-prev" asp-area="Administration" asp-controller="Client"
                                   asp-action="ShowAllClients"
                                   asp-route-currentpage="@Model.PrevPage "
                                   class="page-link">Prev</a>
                            </div>
                        </li>
                    }

                    <li class="page-item active">
                        <div id="paging-transaction-current">
                            <a class="page-link">@Model.CurrentPage</a>
                        </div>
                    </li>
                    @if (Model.CurrentPage < Model.TotalPages)
                    {

                        <li class="page-item">
                            <div data-currentpage="@Model.TotalPages">
                                <a id="paging-clients-last" asp-area="Administration" asp-controller="Client"
                                   asp-action="ShowAllClients"
                                   asp-route-currentpage="@Model.TotalPages"
                                   class="page-link" disabled>Last:@Model.TotalPages</a>

                            </div>
                        </li>
                    }
                    @if (Model.NextPage > Model.TotalPages)
                    {
                        <li class="page-item disabled">
                            <div class="" data-currentpage="@Model.NextPage">
                                <a class="page-link">Next</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <div data-currentpage="@Model.NextPage">
                                <a id="paging-clients-next" asp-area="Administration" asp-controller="Client"
                                   asp-action="ShowAllClients" asp-route-currentpage="@Model.NextPage"
                                   class="page-link">Next</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
        

<div class="card">
    <div class="card-body">
        <h4 id="rw-fig-btn">Client Search</h4>
        <form asp-controller="Client" asp-action="GetClient" method="post">
            <div class="row">
                <div class="">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <button class="btn btn-light" type="submit">Go!</button>
                        </span>
                        <input type="text" id="search-client-auto" name="searchName" size="35" class="form-control" placeholder="Search for client.." >
                        <span id="message-autocomplete" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="formExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <span id="target-modal-account">

                    @await Html.PartialAsync("Accounts/_CreateAccountPartial", new AccountViewModel())
                </span>


            </div>

        </div>
    </div>
</div>