﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<PaySharp.Web.ViewModels.ClientViewModel>

<div class="card margin-bottom-0">
    <div class="card-body">
        <h4>Clients</h4>
        <p class="subtitle margin-bottom-20">All user clients</p>
        @if (Model.Count() == 0)
        {
            <p>No clients</p>
        }
        else
        {

            <div class="table-responsive">
                <table id="table-all-clients" class="table margin-bottom-0">
                    <thead>
                        <tr>

                            <th width="200" scope="col">Name</th>

                        </tr>
                    </thead>
                    @foreach (var client in Model)
                    {


                        <tbody>

                            <tr>

                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@client.Name</strong>

                                        </div>
                                    </div>
                                </td>
                                
                                <td>
                                    <form asp-area="Administration" asp-controller="Client" asp-action="ClientDetails" asp-route-id="@client.Id" method="get">
                                        <input type="submit" class="btn btn-light btn-sm" value="Details">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        }
    </div>
</div>