﻿@using Microsoft.AspNetCore.Identity
@using System.Web;


@if (Context.Request.Cookies["LoginInfo"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="icon-box icon-box--bordered">
                <a asp-area="Administration" asp-controller="Dashboard" asp-action="Logout">
                    <span class="fa fa-power-off"></span>
                    <span class="text">Log out</span>
                </a>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="Login">Log in</a></li>
    </ul>
}
