﻿

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PaySharp</title>
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/styles.css?v=1.0.3">
    <!-- ENF CSS INCLUDE -->
   
</head>
<body class="indent indent--rounded indent--shadowed">
    <!-- PAGE WRAPPER -->
    <div class="page page--w-header page--w-container">

        <!-- PAGE HEADER -->
        <header class="page__header invert">
            <div class="logo-holder">
                <a href="/User/Dashboard/Index" class="logo-text d-none d-lg-block"> <strong>PaySharp</strong><strong class="text-primary">#</strong></a>

            </div>
            <div class="box">
                <form class="page-header-search" id="header_search">
                    <input type="hidden" class="form-control" placeholder="Type in to search">
                </form>
            </div>
            <div class="box-fluid">

            </div>
            <div class="box">

                @await Html.PartialAsync("_LayoutLoginAdmin")


            </div>
        </header>
        <!-- //END PAGE HEADER -->
        <!-- PAGE CONTAINER -->
        <div class="page__container invert">
            <nav class="horizontal-navigation">
                <button class="btn btn-light btn--icon" data-action="horizontal-show"><span class="fa fa-bars"></span> Toggle navigation</button>

                <ul>

                    <li>
                        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">
                            <span class="icon li-man"></span>
                            <span class="text">Admin</span>
                        </a>

                    </li>
                    <li>
                        <a asp-area="Administration" asp-controller="Banner" asp-action="Index">
                            <span class="icon li-credit-card"></span>
                            <span class="text">Banner</span>
                        </a>

                    </li>

                </ul>
            </nav>
        </div>
        <!-- //END PAGE CONTAINER -->
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page__content page-aside--hidden" id="page-content">


            <!-- PAGE CONTENT CONTAINER -->
            <div class="content" id="content">

                <!-- PAGE HEADING -->
                <div class="page-heading">
                    <div class="page-heading__container">
                        <h1 class="title">Welcome,  @Context.Request.Cookies["LoginInfo"]</h1>
                        <p class="caption">Your personal online payment account</p>
                    </div>

                </div>
                <!-- //END PAGE HEADING -->

                <div class="container-fluid">

                    <div class="row">

                        @RenderBody()
                    </div>

                </div>
            </div>
            <!-- //END PAGE CONTENT -->

        </div>
    </div>
    <!-- //END PAGE WRAPPER -->


    <script src="~/js/vendors/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/jquery/jquery-migrate.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/bootstrap/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

    <script src="~/js/app.js" asp-append-version="true"></script>
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
