﻿
@model IEnumerable<AccountViewModel>

<div class="card margin-bottom-0">
    <div class="card-body">
        <h4>Accounts</h4>
        <p class="subtitle margin-bottom-20">All user accounts</p>
        <div class="table-responsive">
            @if (Model.Count() == 0)
            {
                <p>No accounts</p>
            }
            else
            {
                <table id="table-all-accounts" class="table margin-bottom-0">
                    <thead>
                        <tr>
                            <th width="200" scope="col">Account Number</th>
                            <th width="200" scope="col">Client</th>
                            <th width="200" scope="col">Nickname</th>
                            <th width="200" scope="col">Balance</th>
                        </tr>
                    </thead>

                    @foreach (var account in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@account.AccountNumber</strong>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@account.ClientName</strong>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@account.NickName</strong>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@account.Balance</strong>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-rename-account"  data-id="@account.Id">
                                        <div>
                                            <button type="button" class="btn btn-light btn-sm" data-id="@account.Id" data-toggle="modal" data-target="#formRenameAccountsModal">Rename Account</button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-create-payment" data-num="@account.AccountNumber" data-name="@account.ClientName">
                                        <div>
                                            <button type="button" class="btn btn-light btn-sm" data-id="@account.Id" data-toggle="modal" data-target="#formPaymentModal">Make Payment</button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div >
                                        <div>
                                            <a asp-area="User" asp-controller="Transaction" asp-action="List" asp-route-accountid="@account.Id" class="btn btn-light btn-sm">View Transactions</a>
                                        </div>
                                    </div>
                                    
                                 
                                </td>
                               
       
                            </tr>
                        </tbody>
                    }
                </table>
            }
        </div>
    </div>
</div>




<div class="modal fade" id="formRenameAccountsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rename account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card">

                    <div class="card-body">
                        <h4 id="rw-fl-fvlength">Rename</h4>

                        <form id="rename-account-modal-form" asp-controller="Account" asp-action="Rename" method="post">
                            <div class="form-group">

                                <input type="hidden" id="accountId" name="accountId" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>New nickname</label>
                                <input id="newNickName" name="newNickName" class="form-control">
                                <span id="nickName-feedback" class="text-danger"></span>
                            </div>

                            <div class="form-group margin-top-20 margin-bottom-0">
                                <button class="btn btn-light" type="submit">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="formPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
                
                    <span id="target-make-payment">
                        @await Html.PartialAsync("Transactions/_MakePaymentPartial", new TransactionViewModel())
                    </span>

                
            
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
