﻿@model IEnumerable<AccountViewModel>



<div id="example">
    <div class="demo-section k-content wide">
        <div id="chart" data-id="@Model"></div>
    </div>
    <div class="box wide">
        <div class="box-col">
            <h4>Chart Options</h4>
            <ul class="options">
                <li>
                    <input id="labels" checked="checked" type="checkbox" autocomplete="off" />
                    <label for="labels">Show labels</label>
                </li>
                <li>
                    <input id="alignCircle" name="alignType" type="radio"
                           value="circle" checked="checked" autocomplete="off" />
                    <label for="alignCircle">Aligned in circle</label>
                </li>
                <li>
                    <input id="alignColumn" name="alignType" type="radio"
                           value="column" autocomplete="off" />
                    <label for="alignColumn">Aligned in columns</label>
                </li>
            </ul>
        </div>
    </div>
</div>

