﻿@model PaySharp.Web.Areas.Administration.ViewModels.PaginationBannerViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="col-12 col-lg-4">
    <div class="card-body">
        <span id="target-banner-form">
            @await Html.PartialAsync("Banner/_CreateBannerPartial", new CreateBannerViewModel())
        </span>
    </div>
</div>


<div class="col-12 col-lg-8">
    <div class="card-body">
        <span id="target-all-banners">
            @await Html.PartialAsync("Banner/_AllBannersPartial", Model)
        </span>

    </div>
</div>

@section Scripts
    {
<script type="text/javascript" src="~/js/vendors/moment/moment-with-locales.min.js"></script>
<script type="text/javascript" src="~/js/vendors/datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/js/vendors/daterangepicker/daterangepicker.js"></script>
@*<script type="text/javascript" src="~/js/vendors/isotope/isotope.pkgd.min.js"></script>*@
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var $grid = $(".gallery").isotope({
            itemSelector: ".gallery-item",
            layoutMode: "fitRows"
        });

        $grid.imagesLoaded().progress(function () {
            $grid.isotope('layout');
        });

        // bind filter button click
        $(".filters-button-group").on("click", "button", function () {
            var filterValue = $(this).attr("data-filter");
            $grid.isotope({ filter: filterValue });
        });

        $(".btn-group").each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on("click", "button", function () {
                $buttonGroup.find(".active").removeClass("active");
                $(this).addClass("active");
            });
        });

        window.addEventListener("resize", function () {
            $grid.isotope('reloadItems')
        });

    });
</script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        $("#startDate-id").datetimepicker();
        $("#endDate-id").datetimepicker({ useCurrent: false });

        $("#startDate-id").on("dp.change", function (e) {
            $("#endDate-id").data("DateTimePicker").minDate(e.date);
        });
        $("#endDate-id").on("dp.change", function (e) {
            $("#startDate-id").data("DateTimePicker").maxDate(e.date);
        });
    });

</script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        $("#pd-example-ex").datetimepicker();
    });


    document.addEventListener("DOMContentLoaded", function () {
        $("#dr-example-ex").daterangepicker({
            "opens": "right"
        });
    });
</script>

}