﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PaySharp.Web.ViewModels.TransactionViewModel
@{
    ViewData["Title"] = "Makepayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body col-lg-12">
    <form id="create-payment-form2" asp-controller="Transaction" asp-action="SendTransaction" method="post">
        <div class="card">
            <div class="page-heading">
                <div class="page-heading__container">
                    <h1 class="title">Transaction Template</h1>
                    <p class="caption">MAKE NEW PAYMENT</p>
                </div>
            </div>
            <div class="card-body">

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="auto" class="input-item-label">Sender Account</label>
                            <select class="form-control" asp-for="SenderAccountID" id="sender-account-selector">

                                <option disabled selected>Choose account</option>
                                @foreach (var account in Model.Accounts)
                                {
                            <option bal="@account.Balance" att="@account.ClientName" value="@account.AccountNumber">@account.AccountNumber - @account.ClientName
                                 - @account.NickName - @account.Balance</option>
                                }
                            </select>
                            <span asp-validation-for="SenderAccountID" class="text-danger"></span>
                            <div class="input-item input-with-label col-md-8" id="sender-client-name-div"></div>
                        </div>
              
                    </div>


                    <div class="col-6">

                        <div class="form-group">
                            <label for="auto" class="input-item-label">Receiver Account</label>
                            <input asp-for="ReceiverAccount.AccountNumber" id="input-for-receiver-account" class="form-control" type="text">
                            <span id="message-autocomplete" class="text-danger"></span>
                            <div class="input-item input-with-label col-md-8" id="receiver-client-name-div-2"></div>
                        </div>
                        <div id="receiver-client-name-div" class=""></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <input asp-for="Description" type="text" placeholder="Must be up to 35 characters" class="form-control">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Amount">Amount</label>
                            <input asp-for="Amount" id="transaction-amount" type="text" placeholder="0.00" class="form-control">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="submit" id="send-transaction" class="btn btn-success btn-block">Send</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="submit" id="safe-transaction" class="btn btn-danger btn-block">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>

        $('#input-for-receiver-account').live('keyup.autocomplete', function () {
            console.log("auto");
            $(this).autocomplete({
                source: function (request, response) {
                    var dataToSend = $('#sender-account-selector option:selected').text();
                    $.ajax({
                        url: "/User/Account/FindSingleByAccName",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term, ignored: dataToSend },
                        success: function (data) {
                            allAccounts = data;
                            response($.map(data, function (item) {

                                var itemToSave = Number(item.id);
                                $("#save-target-id").val(itemToSave);
                                var completeAccountListing = item.accountNumber;
                                
                                return {
                                    label: completeAccountListing,
                                   
                                };
                            }));

                        }
                    });
                },
                minLength: 3,
                delay: 500,
                minLength: 3,
                select: function (event, ui) {
                    var clientName;

                    for (var i = 0; i < allAccounts.length; i++) {
                        if (allAccounts[i].accountNumber == ui.item.label) {
                            clientName = allAccounts[i].clientName
                        }
                    }
                 
                    $("#receiver-client-name-div-2").empty();
                     $("#receiver-client-name-div-2").text("Client Name: "+clientName);
             },
                response: function (event, ui) {
                    console.log("test");
                    
                    
                    if (!ui.content.length) {
                        var noResult = { value: "", label: "No results found" };
                        ui.content.push(noResult);
                        $("#receiver-client-name-div-2").text("No results found");
                    } else {
                        $("#receiver-client-name-div-2").empty();

                    }
                }
            })
        });

        </script>
}