﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PaySharp.Web.Areas.Administration.ViewModels.PaginationUserViewModel

<div class="card margin-bottom-0">
    <div class="card-body">
        <h4>Users</h4>
      
        <div class="table-responsive">
            <table class="table margin-bottom-0">
                <thead>
                    <tr>

                        <th width="200" scope="col">Name</th>

                    </tr>
                </thead>
                @foreach (var user in Model.Users)
                {


                    <tbody>

                        <tr>

                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@user.Name</strong>

                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="modal-user-id" data-id="@user.Id">
                                    <div>
                                        <button type="button" class="btn btn-light btn-sm" data-id="@user.Id" data-toggle="modal" data-target="#formUsersModal">Add to client</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="modal-user-account-id btn btn-light btn-sm" data-url="/Administration/Account/GetUserAccounts/@user.Id" data-id="@user.Id" data-toggle="modal" data-target="#formUsersAccountsModal2">User Accounts</button>
                            </td>

                            <td>
                                <a class="text-danger "
                                   asp-area="Administration" asp-controller="User" asp-action="UserDetails" asp-route-id="@user.Id">
                                    <i class="btn btn-light btn-sm">Details</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <div>
                <ul class="pagination">
                    @if (Model.PrevPage < 1)
                    {
                        <li class="page-item disabled">
                            <div data-currentpage="@Model.PrevPage">
                                <a class="page-link">Prev</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <div data-currentpage="@Model.PrevPage">
                                <a id="paging-users-prev" asp-area="Administration" asp-controller="User"
                                   asp-action="ShowAllUsers"
                                   asp-route-currentpage="@Model.PrevPage "
                                   class="page-link">Prev</a>
                            </div>
                        </li>
                    }

                    <li class="page-item active">
                        <div id="paging-transaction-current">
                            <a class="page-link">@Model.CurrentPage</a>
                        </div>
                    </li>
                    @if (Model.CurrentPage < Model.TotalPages)
                    {

                        <li class="page-item">
                            <div data-currentpage="@Model.TotalPages">
                                <a id="paging-users-last" asp-area="Administration" asp-controller="User"
                                   asp-action="ShowAllUsers"
                                   asp-route-currentpage="@Model.TotalPages"
                                   class="page-link" disabled>Last:@Model.TotalPages</a>

                            </div>
                        </li>
                    }
                    @if (Model.NextPage > Model.TotalPages)
                    {
                        <li class="page-item disabled">
                            <div class="" data-currentpage="@Model.NextPage">
                                <a class="page-link">Next</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <div data-currentpage="@Model.NextPage">
                                <a id="paging-users-next" asp-area="Administration" asp-controller="User"
                                   asp-action="ShowAllUsers" asp-route-currentpage="@Model.NextPage"
                                   class="page-link">Next</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 id="rw-fig-btn">User Search</h4>
        <form asp-controller="User" asp-action="GetUser" method="post">
            <div class="row">
                <div class="">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <button class="btn btn-light" type="submit">Go!</button>
                        </span>
                        <input type="text" id="search-user-auto" name="searchName" size="35" class="form-control" placeholder="Search for user.." aria-label="Search for...">
                        <span id="message-autocomplete-user" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="modal fade" id="formUsersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add user to client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card">

                    <div class="card-body">
                        <h4 id="rw-fl-fvlength">Add User</h4>

                        <form id="users-client-modal" asp-controller="User" asp-action="AddUserToClient" method="post">
                            <div class="form-group">

                                <input type="hidden" id="userId" name="userId" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Client name</label>
                                <input id="clientName" name="clientName" class="form-control">
                                <span class="text-danger"></span>
                                <span id="message-autocomplete-client-user" class="text-danger"></span>
                            </div>

                            <div class="form-group margin-top-20 margin-bottom-0">
                                <button class="btn btn-light" type="submit">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="formUsersAccountsModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Accounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="target-modal-client-accounts">
                    @await Html.PartialAsync("Accounts/_AllClientAccountsPartial", new List<AccountViewModel>())
                </span>
            </div>

        </div>
    </div>
</div>
