﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model UserViewModel

<div class="card">

    <div class="card-body">
        <h4 id="rw-fl-fvlength">Create User</h4>

        <form id="create-user-form" asp-controller="User" asp-action="CreateUser" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name"  type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName"  type="text" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="text" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group margin-top-20 margin-bottom-0">
                <button class="btn btn-light" type="submit">Submit</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}