﻿<div class="card">
    <div class="card-body">
        <h4 id="rw-fig-btn">User Search</h4>
        <form>
            <div class="row">
                <div class="">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <button class="btn btn-light" type="button">Go!</button>
                        </span>
                        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
