﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<UserViewModel>

<div class="card margin-bottom-0">
    <div class="card-body">
        <h4>All Users</h4>
        <p class="subtitle margin-bottom-20">All client users</p>
        <div class="table-responsive">
            @if (Model.Count() == 0)
            {
                <p>No users</p>
            }
            else
            {


                <table class="table margin-bottom-0">
                    <thead>
                        <tr>

                            <th width="200" scope="col">Name</th>

                        </tr>
                    </thead>
                    @foreach (var user in Model)
                    {


                        <tbody>

                            <tr>

                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@user.Name</strong>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="modal-user-account-id btn btn-light btn-sm" data-url="/Administration/Account/GetUserAccounts/@user.Id" data-id="@user.Id" data-toggle="modal" data-target="#formUsersAccountsModal2">User Accounts</button>
                                </td>

                            </tr>
                        </tbody>
                    }


                </table>
            }
        </div>
    </div>
</div>



<div class="modal fade" id="formUsersAccountsModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Accounts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="target-modal-client-accounts">
                    @await Html.PartialAsync("Accounts/_AllClientAccountsPartial", new List<AccountViewModel>())
                </span>
            </div>

        </div>
    </div>
</div>
