﻿@model PaySharp.Web.Areas.Administration.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Index";
}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="col-12 col-lg-3">
    <div class="card-body">
        <span id="target-client-list-table">
            @await Html.PartialAsync("Clients/_NewClientPartial", new ClientViewModel())
        </span>
    </div>
    <div class="card-body">
        <span id="target-user-list-table">
            @await Html.PartialAsync("Users/_CreateUserPartial", new UserViewModel())
        </span>
    </div>
</div>

<div class="col-12 col-lg-4">
    <div class="card-body">
        <span id="target-all-clients">
            @await Html.PartialAsync("Clients/_ShowClientsPartial", Model.Clients)
        </span>

    </div>

</div>
<div class="col-12 col-lg-5">
    <div class="card-body">
        <span id="target-all-users">
            @await Html.PartialAsync("Users/_AllUsersPartial", Model.Users)
        </span>

    </div>
</div>


@section Scripts
        {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}

