﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PaySharp.Web.ViewModels.LoginViewModel
@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>PaySharp - Admin Login</title>

    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" href="~/css/styles.css?v=1.0.3">
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <!-- PAGE WRAPPER -->
    <div class="page">

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page__content" id="page-content">

            <!-- PAGE LOGIN CONTAINER -->
            <div class="important-container login-container">
                <div class="content">
                    <h1 class="logo-text text-center margin-bottom-10 text-primary">Pay #</h1>
                    <a href="/" class="logo-holder logo-holder--lg logo-holder--wide">
                        <div class="logo-text"><strong class="text-primary">Admin Login Page</strong></div>

                    </a>
                   
                    <p class="caption text-center margin-bottom-30">Welcome to the number one paying portal</p>

                    <form id='myForm' asp-area="Administration" asp-controller="Dashboard" asp-action="Login" method="post">
                        <div class="form-group">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" type="text" class="form-control">
                            <span asp-validation-for="UserName" class="text-danger"></span>

                        </div>
                        <div class="form-group margin-bottom-20">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" type="password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group margin-bottom-30">
                            <div class="form-row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <button class="btn btn-primary btn-block">Login to account</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="divider"></div>
                </div>

            </div>
            <!-- PAGE LOGIN CONTAINER -->
            <!-- PAGE CONTENT CONTAINER -->
            <div class="content d-none d-lg-block" id="content" style="background: url(assets/img/backgrounds/bridge.jpg) left center no-repeat; background-size: 100% auto;"></div>
            <!-- //END PAGE CONTENT CONTAINER -->

        </div>
        <!-- //END PAGE CONTENT -->

    </div>
    <!-- //END PAGE WRAPPER -->


    <script src="~/js/vendors/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/jquery/jquery-migrate.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/bootstrap/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>


