﻿@model PaySharp.Web.Areas.Administration.ViewModels.PaginationBannerViewModel

<div class="card margin-bottom-0">
    <div class="card-body">
        <h4>Banners</h4>
        <div class="container-fluid">
            <div class="form-row gallery">
                @foreach (var image in Model.Banners)
                {
                    <div class="col-4 gallery-item nature">
                        <div class="card margin-bottom-10">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="margin-bottom-0">@image.Name</h5>
                                    </div>
                                    <div class="col-12 text-right">
                                        <small class="text-muted">Start Date: @image.StartDate </small>
                                    </div>
                                    <div class="col-12 text-right">
                                        <small class="text-muted">End Date: @image.EndDate </small>
                                    </div>
                                    <div class="col-6">
                                        <a class="text-danger "
                                           asp-area="Administration" asp-controller="Banner" asp-action="Delete" asp-route-id="@image.Id">
                                            <i class="btn btn-light btn-sm">Delete</i>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <div class="send-banner-id-modal" data-id="@image.Id" data-startdate="@image.StartDate" data-enddate="@image.EndDate">
                                            <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#editBannerModal">Edit</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <a href="@image.Url" class="link-wrapper" target="_blank" data-lightbox="image-1">
                                <img class="card-img-bottom" src="~/banners/@image.ImgPath" @*width="150" height="auto" *@ alt="Card image cap">
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div>
                <ul class="pagination">
                    @if (Model.PrevPage < 1)
                    {
                        <li class="page-item disabled">
                            <div data-currentpage="@Model.PrevPage">
                                <a class="page-link">Prev</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <div data-currentpage="@Model.PrevPage">
                                <a id="paging-banners-prev" asp-area="Administration" asp-controller="Banner"
                                   asp-action="Index"
                                   asp-route-currentpage="@Model.PrevPage "
                                   class="page-link">Prev</a>
                            </div>
                        </li>
                    }

                    <li class="page-item active">
                        <div id="paging-transaction-current">
                            <a class="page-link">@Model.CurrentPage</a>
                        </div>
                    </li>
                    @if (Model.CurrentPage < Model.TotalPages)
                    {

                        <li class="page-item">
                            <div data-currentpage="@Model.TotalPages">
                                <a id="paging-banners-last" asp-area="Administration" asp-controller="Banner"
                                   asp-action="Index"
                                   asp-route-currentpage="@Model.TotalPages"
                                   class="page-link" disabled>Last:@Model.TotalPages</a>

                            </div>
                        </li>
                    }
                    @if (Model.NextPage > Model.TotalPages)
                    {
                        <li class="page-item disabled">
                            <div class="" data-currentpage="@Model.NextPage">
                                <a class="page-link">Next</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="page-item ">
                            <div data-currentpage="@Model.NextPage">
                                <a id="paging-banners-next" asp-area="Administration" asp-controller="Banner"
                                   asp-action="Index" asp-route-currentpage="@Model.NextPage"
                                   class="page-link">Next</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@* modal *@
<div class="modal fade" id="editBannerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card">

                    <div class="card-body">
                        <h4 id="rw-fl-fvlength">Edit Banner</h4>

                        <form id="edit-banner-form" asp-controller="Banner" asp-action="Edit" enctype="multipart/form-data" method="post">

                            <div class="form-group">
                                <label>Date range</label>
                                <div class="form-group">
                                    <input type="hidden" id="bannerId" name="id" class="form-control">
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-row">
                                    <div class="col-6">
                                        <label>Start Date</label>
                                        <input type="text" name="startDate" class="form-control" placeholder="d/m/yyyy" id="startDate-id">
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="col-6">
                                        <label>End Date</label>
                                        <input type="text" name="endDate" class="form-control" placeholder="d/m/yyyy" id="endDate-id">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group margin-top-20 margin-bottom-0">
                                <button class="btn btn-light" type="submit">Edit Banner</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
