﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model CreateBannerViewModel

<div class="card">

    <div class="card-body">
        <h4 id="rw-fl-fvlength">Create Banner</h4>

        <form id="create-banner-form" asp-controller="Banner" asp-action="CreateBanner" enctype="multipart/form-data" runat="server" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url"></label>
                <input asp-for="Url" type="text" class="form-control">
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" asp-for="Image" name="Image" id="imgInp" accept="image/*" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <label>Date range for banner</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="fa fa-calendar-check-o"></span>
                    </div>
                </div>
                <input type="text" asp-for="DateRange" name="dateRange" class="form-control" placeholder="Press on field to open..." id="dr-example-ex">
            </div>
            <div class="form-group">
            </div>
            <div class="form-group margin-top-20 margin-bottom-0">
                <button class="btn btn-light" type="submit">Create Banner</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}