﻿@using Microsoft.AspNetCore.Identity
@using System.Web;


@if (Context.Request.Cookies["LoginInfo"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a asp-controller="User" asp-action="Profile">Hello, @Context.Request.Cookies["LoginInfo"]</a></li>*@
        <li>
            <div class="icon-box icon-box--bordered">
                <a asp-controller="Identity" asp-action="Logout">
                    <span class="fa fa-power-off"></span>
                    <span class="text">Log out</span>
                </a>
            </div>

        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="User" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Identity" asp-action="Login">Log in</a></li>
    </ul>
}