﻿@model PaySharp.Web.ViewModels.LoginViewModel

<form id='login-user-form' asp-controller="Identity" asp-action="Login" method="post">
    <div class="form-group">
        <div id="user-bad-login2"  class="text-danger"></div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" type="text" class="form-control">
        <span asp-validation-for="UserName" class="text-danger"></span>

    </div>
    <div class="form-group margin-bottom-20">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>



    <div class="form-group margin-bottom-30">
        <div class="form-row">
            <div class="col-2"></div>
            <div class="col-8">
                <button class="btn btn-primary btn-block">Login to account</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}