﻿@model IEnumerable<PaySharp.Web.ViewModels.AccountViewModel>

    <div class="table-responsive">
        @if (Model.Count() == 0)
        {
            <p>No accounts</p>
        }
        else
        {
            <table id="table-all-clients" class="table margin-bottom-0">
                <thead>
                    <tr>
                        <th width="200" scope="col">Account Number</th>
                        <th width="200" scope="col">Client Name</th>
                    </tr>
                </thead>

                @foreach (var account in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@account.AccountNumber</strong>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="user user--rounded user--bordered">
                                    <div class="user__name">
                                        <strong>@account.ClientName</strong>

                                    </div>
                                </div>
                            </td>
                            <td>
                                @if (account.IsAddedToUser)
                                {
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <label class="switch">
                                                <input class="checkbox-test" type="checkbox" checked data-id="@account.Id" data-userId="@account.UserId">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    @*<a class="remove-account-user-id btn btn-lg text-danger "
                                       asp-area="Administration" asp-controller="Account" asp-action="RemoveAccountFromUser" asp-route-id="@account.Id" asp-route-userId="@account.UserId">
                                        <i class="btn btn-light btn-sm">Remove account</i>
                                    </a>*@

                                    @*<button type="button" class="remove-account-user-id btn btn-light btn-sm" data-url="/Administration/Account/RemoveAccountFromUser/@account.Id" data-userId="@account.UserId" >Remove ajax Accounts</button>*@
                                }
                                else
                                {
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <label class="switch">
                                                <input class="checkbox-test" type="checkbox"  data-id="@account.Id" data-userId="@account.UserId">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                   
                                }
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        }
    </div>

          