﻿@model IEnumerable<PaySharp.Web.ViewModels.AccountViewModel>

<div class="card margin-bottom-0">
    <div class="card-body">
        <h4>Accounts</h4>
        <p class="subtitle margin-bottom-20">All user accounts</p>
        <div class="table-responsive">
            @if (Model.Count() == 0)
            {
                <p>No accounts</p>
            }
            else
            {
                <table id="table-all-accounts" class="table margin-bottom-0">
                    <thead>
                        <tr>
                            <th width="200" scope="col">Account Number</th>
                            <th width="200" scope="col">Balance</th>
                        </tr>
                    </thead>

                    @foreach (var account in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@account.AccountNumber</strong>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@account.Balance</strong>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
        </div>
    </div>
</div>