﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PaySharp.Web.ViewModels.AccountViewModel

<form id="#create-account-form" asp-area="Administration" asp-controller="Account" asp-action="Create">
    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @*<label asp-for="NickName"></label>
        <input asp-for="NickName" type="text" class="form-control">
        <span asp-validation-for="NickName" class="form-text"></span>
        <a class="btn btn-lg text-danger "
           asp-area="Administration" asp-controller="Dashboard" asp-action="GenerateAccount">
            <i class="btn btn-light btn-sm">Generate Account Number</i>
        </a>*@

    </div>
    @*<div class="form-group margin-bottom-20">
        <label asp-for="AccountNumber"></label>
        <input asp-for="AccountNumber" type="text" class="form-control">
        <span asp-validation-for="AccountNumber" class="text-danger"></span>
    </div>*@
    @*<div class="form-group margin-bottom-20">
        <label asp-for="Balance"></label>
        <input asp-for="Balance" type="text" class="form-control">
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>*@
    <div class="form-group margin-bottom-20">
        <label asp-for="ClientId"></label>
        <input asp-for="ClientId" type="text" class="form-control">
        <span asp-validation-for="ClientId" class="text-danger"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

