﻿@model PaySharp.Web.ViewModels.ClientViewModel


    <div class="col-12 col-lg-4">
        <div class="card margin-bottom-0">
            <div class="card-body">
                <h4>Client</h4>
                <p class="subtitle margin-bottom-20">Info for the client</p>
                <div class="table-responsive">
                    <table id="table-all-clients" class="table margin-bottom-0">
                        <thead>
                            <tr>

                                <th width="200" scope="col">Name</th>
                                <th width="200" scope="col">Accounts</th>
                                <th width="200" scope="col">Users</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@Model.Name</strong>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@Model.Accounts.Count</strong>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <strong>@Model.Users.Count</strong>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <form id="create-account-from-client" asp-area="Administration" asp-controller="Account" asp-action="Create" method="post">
                                        <input type="hidden" name="id" value="@Model.Id" />
                                        <input type="submit" class="btn btn-light btn-sm" name="upvote" value="Create Account" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="create-user-to-client-class" data-id="@Model.Id">
                <span id="target-create-user-to-client" >
                    @await Html.PartialAsync("Users/_CreateUserToClientPartial", new UserViewModel())
                </span>
            </div>
        </div>
    </div>
<div class="col-12 col-lg-4">
    <div class="card-body">
        <span id="target-all-client-accounts" >
            @await Html.PartialAsync("Accounts/_ShowClientAccountsPartial", Model.Accounts)
        </span>

    </div>
   

</div>

<div class="col-12 col-lg-4">
    <div class="card-body">
        <span id="target-all-users-client2">
            @await Html.PartialAsync("Users/_ShowClientUsersPartial", Model.Users)
        </span>

    </div>
</div>
