﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PaySharp.Web.ViewModels.AccountViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<div class="col-12 col-lg-12">
    <div class="card-body">
        <span id="target-all-user-accounts">
            @await Html.PartialAsync("Accounts/_AllUserAccountsPartial", Model)
        </span>

    </div>

</div>




<div class="col-12 col-lg-12">
    <div class="card-body pie-chart" data-id="@Model">
        <span id="pie-chart">
            @await Html.PartialAsync("Accounts/_PieChart", Model)
        </span>

    </div>

</div>



@section Scripts
        {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        var allAccounts;
            $(document).ready(function () {
                 createChart(@Html.Raw(Json.Serialize(Model)));
                $(document).bind("kendo:skinChange", createChart);
                $(".box").bind("change", refresh);
            });


        $('#input-for-receiver-account').live('keyup.autocomplete', function () {
            console.log("auto");
            $(this).autocomplete({
                source: function (request, response) {
                    var dataToSend = $('#sender-account-selector option:selected').text();
                    $.ajax({
                        url: "/User/Account/FindSingleByAccName",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term, ignored: dataToSend },
                        success: function (data) {
                            allAccounts = data;
                            response($.map(data, function (item) {

                                var itemToSave = Number(item.id);
                                $("#save-target-id").val(itemToSave);
                                var completeAccountListing = item.accountNumber;
                                return {
                                    label: completeAccountListing
                                };
                            }));

                        }
                    });
                },
                minLength: 3,
                delay: 500,
                minLength: 3,
                 select: function (event, ui) {
                    var clientName;
                  
                    for (var i = 0; i < allAccounts.length; i++) {
                        if (allAccounts[i].accountNumber == ui.item.label) {
                            clientName = allAccounts[i].clientName
                        }
                    }
                    
                    $("#message-autocomplete").empty();
                     $("#message-autocomplete").text("Client Name: "+clientName);
             },
                response: function (event, ui) {
                  
                    if (!ui.content.length) {
                        var noResult = { value: "", label: "No results found" };
                        ui.content.push(noResult);
                        $("#message-autocomplete").text("No results found");
                    } else {
                        $("#message-autocomplete").empty();

                    }
                }
            })
        });      
      
    

    </script>
}