﻿@model PaySharp.Web.ViewModels.UserViewModel

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="col-12 col-lg-4">
    <div class="card-body">
        <div class="card margin-bottom-0">
            <div class="card-body">
                <h4>User</h4>
                <p class="subtitle margin-bottom-20">Info for the user</p>
                <div class="table-responsive">
                    <table id="table-all-clients" class="table margin-bottom-0">
                        <thead>
                            <tr>

                                <th width="200" scope="col">Name</th>
                                <th width="200" scope="col">Username</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <h2>     <strong>@Model.Name</strong></h2>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user user--rounded user--bordered">
                                        <div class="user__name">
                                            <h2><strong>@Model.UserName</strong></h2>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-user-id" data-id="@Model.Id">
                                        <div>
                                            <button type="button" class="btn btn-light btn-sm" data-id="@Model.Id" data-toggle="modal" data-target="#formUsersModal">Add User to client</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-4">
    <div class="card-body">
        <div class="list-user-clients-class" data-id="@Model.Id">
            <span id="target-list-user-clients">
                @await Html.PartialAsync("Clients/_UserClientsPartial", Model.Clients)
            </span>
        </div>
    </div>
</div>

<div class="col-12 col-lg-4">
    <div class="card-body">
        <div class="list-user-accounts-class" data-id="@Model.Id">
            <span id="target-list-user-accounts">
                @await Html.PartialAsync("Accounts/_AllUserAccountsPartial", Model.Accounts)
            </span>
        </div>
    </div>
</div>

<div class="modal fade" id="formUsersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add user to client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card">

                    <div class="card-body">
                        <h4 id="rw-fl-fvlength">Add User</h4>

                        <form id="users-client-modal" asp-controller="User" asp-action="AddUserToClient" method="post">
                            <div class="form-group">

                                <input type="hidden" id="userId" name="userId" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Client name</label>
                                <input id="clientName" name="clientName" class="form-control">
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group margin-top-20 margin-bottom-0">
                                <button class="btn btn-light" type="submit">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>